@import "tailwindcss";
@import "./theme.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html,
  body {
    @apply bg-background text-foreground overflow-hidden h-full;
  }
}
